* {
    box-sizing:border-box;
}
/* css de js*/
/* css de index*/

.mule{
    font-size: 15px;
}
.titi{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    margin: 20px;
}

/*css de detalle album*/
.xdlol{
    color: #00fdff;
    font-size: 17px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}


.art{
    line-height: 30px;
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    text-align: center;

}


.detalle{
    font-size: 20px;
    color:#00fdff ;
    font-family:'Montserrat', sans-serif;
    text-align: center;
}
.verano{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}



/*fin de css de js*/
body {
    background-color: black;
}
.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    padding: 5px 30px 5px 30px;
    border-radius:15px;
    color: #0fff20;
    box-shadow: 5px 5px 0px 0px rgb(245,11,134);
}


.imagenlogo {
    border-radius:300px;
    width:125px;
    height:125px;
    margin:30px 0px 0px 10px;
    border:solid 1px;
}

.top {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
}

.funcionaporfa {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    height:7px;
    margin: 70px 10px 5px 5px;
}

.navegacion {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: rgb(15, 14, 15);
}



a:link, a:visited, a:active{
    text-decoration:none;
    color: #0fff20; 
}

.link {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 7px 5px 7px;
}

.footer {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(245,11,134);
    font-size: 20px;
    margin:60px;
}

.nombres {
    font-family: 'Josefin Sans', sans-serif;
    margin:10px 10px 0px 10px;
}





/*index*/

.titulos{
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 30px;
}

.content{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    color: #0fff20; 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.fotos{
    width: 150px;
    height: 150px;
    margin: 20px;
}
.fotosdos{
    width: 4000px;
    height: 400px;
    margin: 20px;
}
.caca{
    float: right;
    padding: 25px;
    text-decoration:none;
    color: #0fff20;
    margin-top: 40px;
}
.chici{
    color: #0fff20; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 30px;
}

.sectionplaylist {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row; 
    justify-content: center;
}

.aver {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin:20px;
    justify-content: center;
    width:600px;
}

.chicii{
    color:#0fff20;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.prueba {
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.corazon {
    color: #0fff20;
}

.sera {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
}

/*detalles*/

.cancionesco {
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 80px;
    line-height: 60px;

}

.fotocantantes{
    height:500px;
    margin: 20px;
    padding-top: 30px;
    float: left;

}
.justice{
    font-size: 80px;
    font-weight:bold;
}
.intro{
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 80px;
}
.dos{
    line-height: 25px;
    padding-top: 10px;
    margin: 20px;
}
.songs{
    text-decoration: underline;
    font-size: 23px;
}
.generos{
    color: #0fff20;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    list-style-type: none;
    line-height: normal;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
}
.hijos{
    background-color: rgb(245,11,134);
    margin: 15px;
    padding: 15px;
    width: 200px;
    align-self: center;
}

/*detalle artista*/

.artista {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 30px 0px 0px 30px;
    margin-bottom: 250px;
}

.tituloartista {
    color:#0fff20;
    font-size: 40px;
    font-weight: bold;
}

.populares{
    text-decoration:underline;
    font-weight: bold;
}


/* detalle géneros*/

.textopop{
    color: #0fff20; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 30px;
}
.michael{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    color: #0fff20; 
}

@media (max-width: 420px){

    .top {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:space-around;
    }

    .imagenlogo {
        max-width:50%;
        border-radius: 50%;
    }

    .header {
        font-size:350%;
    }

    .funcionaporfa {
        margin:10% 0% 10% 0%;
    }

    .navegacion{
        font-size:100%;
        width:100vw;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:center;
        text-align:center;
    }

    .responsive {
        width: 80vw;
        display:flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content:center;
        margin:0vw;
        padding:3vw;
    }
    
    .fotocantantes{
        width:100%;
        height:100%;
        margin:0% 0% 0% 10%;
    }

    .artista {
        font-size: 100%;
        margin:0%;
    }
    
    .tituloartista {
        font-size:150%;
        margin:0%;
    }

    .footer {
        width:80vw;
        font-size:100%;
        text-align: center;
    }

    .sectionplaylist {
        width: 100vw;
    }

    .aver {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    
    .porfavor {
        display:flex;
        flex-wrap: nowrap;
        flex-direction:row;
        line-height: 3vw;
        font-size: 3vw;
    }
    
    .sera {
        font-size: 3vw;
    }

    /*index*/

    .titulos{
        color: rgb(245,11,134);
        font-family: 'Montserrat', sans-serif;
        font-size: 7vw ;
        padding: 7vw;
    }
    .titulosdos{
        color: rgb(245,11,134);
        font-family: 'Montserrat', sans-serif;
        font-size: 7vw;
    }

    .caca{
        float: left;
        padding: 6vw;
        text-decoration:none;
        color: #0fff20;
        margin-top: 4vw;
    }
    .chici{
        color: #0fff20; 
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        padding: 4vw 4vw 0vw 0vw;
    }

    /*generostrack*/

    .cancionesco {
        color: rgb(245,11,134);
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        list-style-type: none;
        padding-top: 10vw;
        line-height: 4vw;
    }
    .fotocantantes{
        height: 70vw;
        width: 50vw;
        margin: 8vw;
        padding-top: 6vw;
        align-items: center;
    
    }
    /*detalle de disco*/
    .justice{
        font-size: 10vw;
        font-weight:bold;

    }
    .intro{
        color: rgb(245,11,134);
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        padding: 5%;

    }

    .songs{
        font-size: 4vw;
    }

    .fotocantantess {
        width:60vw;
        height:60vw;
        margin:0% 0% 0% 10%;
        align-items: center;
    }

    .jj{
        height: 65vw;
        width: 50vw;
        padding: 0%;
        margin: 0%;
    }

/*detalle de genero*/

    .textopop{
        font-size: 100%;
    }
    .fotosdos{
        width: 50%;
        height: 50%;
    }
}