* {
    box-sizing:border-box;
}

body {
    background-color: black;
}
.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    padding: 5px 30px 5px 30px;
    border-radius:15px;
    color: #0fff20;
    box-shadow: 5px 5px 0px 0px rgb(245,11,134);
}

.headertop{
    border: 5px solid #0fff20; 
}

.imagenlogo {
    border-radius:300px;
    width:125px;
    height:125px;
    margin:30px 0px 0px 10px;
    border:solid 1px;
}

.top {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
}

.funcionaporfa {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    height:7px;
    margin: 70px 10px 5px 5px;
}

.navegacion {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around ;
    border-radius:7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: rgb(15, 14, 15);
}


.search {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.lupita {
    padding: 3px 5px 3px 5px;
}

a:link, a:visited, a:active{
    text-decoration:none;
    color: #0fff20; 
    border-radius: 20px;
    border-radius:7px;
}

.link {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 7px 5px 7px;
}

.footer {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(245,11,134);
    font-size: 20px;
    margin:60px;
}

.nombres {
    font-family: 'Josefin Sans', sans-serif;
    margin:10px 10px 0px 10px;
}





/*index*/

.home{
    color: #0fff20; 
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding: 40px;
   
}
.titulos{
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 30px;
}
.titulosdos{
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.content{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    border-radius:7px;
    color: #0fff20; 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.fotos{
    width: 150px;
    height: 150px;
    margin: 20px;
}
.fotosdos{
        width: 4000px;
        height: 400px;
        margin: 20px;
}
.caca{
    float: right;
    padding: 25px;
    line-height: normal;
    text-decoration:none;
    color: #0fff20;
    margin-top: 40px;
}
.chici{
    color: #0fff20; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 30px;
}

.sectionplaylist {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row; 
    justify-content: center;
}

.aver {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin:20px;
    align-items: center;
    width:600px;
}

.chicii{
    color:#0fff20;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.prueba {
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.corazon {
    color: #0fff20;
}

.sera {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
}

/*detalles*/

.cancionesco {
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    list-style-type: none;
    padding-top: 80px;
    line-height: 60px;

}

.fotocantantes{
    height:500px;
    margin: 20px;
    padding-top: 30px;
    vertical-align: middle;
    float: left;

}
.justice{
    font-size: 80px;
    font-weight:bold;
}
.intro{
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 80px;
}
.dos{
    line-height: 25px;
    padding-top: 10px;
    margin: 20px;
}
.songs{
    text-decoration: underline;
    font-size: 23px;
}




.generos{
    color: #0fff20;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    list-style-type: none;
    line-height: normal;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
}
.hijos{
    text-align: center;
    background-color: rgb(245,11,134);
    margin: 15px;
    padding: 15px;
    width: 200px;
    align-self: center;
}

/*detalle artista*/

.artista {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    color: rgb(245,11,134);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 30px 0px 0px 30px;
    margin-bottom: 250px;
}

.tituloartista {
    color:#0fff20;
    font-size: 40px;
    font-weight: bold;
}

.populares{
    text-decoration:underline;
    font-weight: bold;
}


/* detalle géneros*/

.textopop{
    color: #0fff20; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 30px;
}
.michael{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    color: #0fff20; 
}

@media (max-width: 420px){
    .mmm {
        max-width: 400px;
    }
    body{
        font-size: 2px;
    }
    .fotos{
        min-width: 80%;
        min-height: 60%;
    }
    .header .footer .titulos .headertop{
        font-size: 20px;
    }
    .fotocantantes{ 
        height: 100px;
        width: 120px;
    }
}


